$bg-color: #133a56;
$primary-color: #38b2ac;
.nav-list__category-wrap {
  border-radius: 0px;
  // background: #3f5062;
  border-left: 5px solid rgba(0, 0, 0, 0);

  // border-bottom: 1px solid #314254;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  // box-shadow: inset 7px 7px 100px #364453, inset -7px -7px 100px #485c71;
  &.active {
    box-shadow: inset 0px 0px 1px #212a33, inset 0px 0px 2px #212a33;
    background-color: rgba(255, 255, 255, 0.04);
    border-left: 5px solid $primary-color;
  }
}
.collapsible_catgory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
  font-size: 18px;
  .nav-list__category-label {
    display: flex;
    align-items: center;
  }
  i {
    font-size: 20px;
    margin-right: 8px;
    min-width: 20px;
    height: 20px;
  }
}
.collapsible__category-items {
  padding: 0px 16px 8px;
  margin-left: 8px;
  margin-top: -8px;
  background: #f7fcfc;
}

.nav-list__item-line {
  width: 20px;
  border-bottom: 1px dotted #566779;
}

.nav-list__item-bullet {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #566779;
}
.nav-list__category-item {
  display: flex;
  align-items: center;
  border-left: 1px dotted #57687a;
  padding: 8px 0px;
  text-indent: 10px;
  &.--link {
    cursor: pointer;

    &:hover,
    &:focus {
      color: $primary-color;
      font-weight: 500;
    }
    &.nuxt-link-active,
    &.router-link-active {
      color: $primary-color;
      // border-left: 1px dotted #38b2ac;
      .nav-list__item-line {
        border-bottom: 1px dotted $primary-color;
      }
      .nav-list__item-bullet {
        background-color: $primary-color;
      }
    }
  }
}
.collapisible--answer {
  padding: 3px 15px 15px 22px;
  margin-left: 18px;
  background: #f7fcfc;
  border-left: 3px solid #38b2ac;
}
