.#{$light-checkbox--class-name}.--default {
  .state .checkbox-symbol {
    &:after {
      transform: scale(0.6);
    }
  }

  input:checked ~ .state .checkbox-symbol {
    &:after {
      background-color: $light-checkbox--color-default !important;
    }
  }
}
