.#{$light-checkbox--class-name}.--default.--thick-outline {
  .state label {
    &:before,
    &:after {
      border-width: calc(1em / 7);
    }

    &:after {
      transform: scale(0.4) !important;
    }
  }
}
