// Animation Classes
.lv--fadeOut{
  animation: fadeOut var(--duration) var(--timing-function);  
}

.lv--fadeOut-left{
  animation: fadeOutLeft var(--duration) var(--timing-function);  
}

.lv--fadeOut-right{
  animation: fadeOutRight var(--duration) var(--timing-function);  
}

.lv--fadeOut-top{
  animation: fadeOutTop var(--duration) var(--timing-function);  
}

.lv--fadeOut-bottom{
  animation: fadeOutBottom var(--duration) var(--timing-function);  
}

// Keyframes
@keyframes fadeOut {
  from{
    opacity: 100%;
  }  
  to{
    opacity: 0%;
  }  
}

@keyframes fadeOutLeft{
  from{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  to{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
}

@keyframes fadeOutRight{
  from{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  to{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
}

@keyframes fadeOutTop{
  from{
    opacity: 1;
    transform: translate3d(0,0,0,);
  }
  to{
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
}

@keyframes fadeOutBottom{
  from{
    opacity: 1;
    transform: translate3d(0,0,0,);
  }
  to{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
}