// Animation Classes
// lv-animate__slide-in--left
.lv-animate__slidein--left{
  animation: slideinLeft var(--duration) ease-in;  
}

.lv-animate__slide-in--right{
  animation: slideinRight var(--duration) ease-in;  
}

.lv-animate__slide-in--top{
  animation: slideinTop var(--duration) ease-in;  
}

.lv-animate__slide-in--bottom{
  animation: slideinBottom var(--duration) ease-in;  
}

// Keyframes
@keyframes slideinLeft{
  from{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes slideinRight{
  from{
    transform: translate3d(100%,0,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}

@keyframes slideinTop{
  from{
    transform: translate3d(0,-100%,0);
  }
  to{
    transform: translate3d(0,0,0,);
  }
}

@keyframes slideinBottom{
  from{
    transform: translate3d(0,100%,0);
  }
  to{
    transform: translate3d(0,0,0,);
  }
}