.lv-animate__zoom-in {
  animation: zoomIn var(--duration) var(--timing-function);
}

.lv-animate__zoom-out {
  animation: zoomOut var(--duration) var(--timing-function);
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
