$overlay-bg-color: #ffffff;
$overlay-border-width: 10px;

.lv-overlaypanel {
    background: $overlay-bg-color;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    &:after, &:before {
        border: $overlay-border-width solid transparent;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $overlay-bg-color;
    }
    &.--flipped{
        &:after, &:before {
            border-top-color: $overlay-bg-color;
        }
    }
    .lv-overlaypanel__content {
        padding: 1rem;
    }
}
