.lv-overlaypanel {
  position: absolute;
  margin-top: 10px;
  &:after,
  &:before {
    /* Pointing Arrow */
    position: absolute;
    left: var(--overlay-arrow-pos);
    bottom: 100%;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
  }
  &.--flipped {
    margin-top: 0;
    margin-bottom: 10px;
    &:after,
    &:before {
      bottom: auto;
      top: 100%;
      border-bottom-color: transparent;
    }
  }
  .lv-overlaypanel__close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    &.--right-align {
      transform: translate(-50%, -50%);
      left: 0px;
    }
  }
}

/* Animation */
.lv-overlaypanel__transition-enter-from {
  opacity: 0;
  transform: scaleY(0.8);
}

.lv-overlaypanel__transition-leave-to {
  opacity: 0;
}

.lv-overlaypanel__transition-enter-active {
  transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1), opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
}

.lv-overlaypanel__transition-leave-active {
  transition: opacity 0.1s linear;
}
// Datatable
