.lv-masked-input {
  background: #00000000;
  outline: none;
  border: none;
  width: 100%;
  // color: #00000000;
  // caret-color: #141414;
  font-size: 1rem;
}

.masked-data {
  // position: absolute;
  // transform: translate(0%, -50%);
  // top: calc(50% - 0.5px);
  // left: 12px;
  // pointer-events: none;
}
