.#{$light-checkbox--class-name}.--bigger {
  .checkbox-label:before,
  .checkbox-label:after,
  .icon,
  .svg,
  .img {
    font-size: $light-checkbox--2x !important;
    top: calc((0% - (100% - 1em)) - 35%) !important;
  }

  .checkbox-label {
    text-indent: 1.7em;
  }
}
