.#{$light-checkbox--class-name} {
  @each $name, $color in $light-checkbox--colors {
    input:checked ~ .state.lv-#{$name},
    &.--toggle .state.lv-#{$name} {
      .box:after {
        background-color: $color !important;
      }

      .icon,
      .svg {
        color: #fff;
        stroke: #fff;
      }
    }

    input:checked ~ .state.lv-#{$name}-o,
    &.--toggle .state.lv-#{$name}-o {
      .box:before {
        border-color: $color;
      }

      .box:after {
        background-color: transparent;
      }

      .icon,
      .svg,
      svg {
        color: $color;
        stroke: $color;
      }
    }

    &.--default:not(.--filled) input:checked ~ .state.lv-#{$name}-o .box {
      &:after {
        background-color: $color !important;
      }
    }

    // &.lv-switch input:checked ~ .state.lv-#{$name}:before {
    //   border-color: $color;
    // }

    // &.lv-switch.--filled input:checked ~ .state.lv-#{$name}:before {
    //   background-color: $color !important;
    // }

    // &.lv-switch.lv-slim input:checked ~ .state.lv-#{$name}:before {
    //   border-color: darken($color, 20%);
    //   background-color: darken($color, 20%) !important;
    // }
  }
}
