.#{$light-checkbox--class-name}.--no-outline {
  input:checked ~ .state .checkbox-label,
  &.--toggle .state .checkbox-label {
    &:before {
      content: none;
    }
  }

  &.--no-outline .icon {
    transform: scale(1.1);
  }
}
