.#{$light-checkbox--class-name}.--no-outline {
  input:checked ~ .state .checkbox-symbol,
  &.--toggle .state .checkbox-symbol {
    &:before {
      content: none;
    }
  }

  &.--no-outline .icon {
    transform: scale(1.1);
  }
}
