.bg-gray {
  background: #edf2f7;
  border-radius: 2px;
  div {
    background: #d7dfe8;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
  }
  .h-200 {
    height: 200px;
  }
  .h-100 {
    height: 100px;
  }
  .h-50 {
    height: 50px;
  }
  .box-sq {
    height: 100px;
    width: 100px;
    margin: 16px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg-grey {
    background: #c3ced5;
  }
}
