.lv-drawer__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .wrapper__drawer-container {
    pointer-events: all;
    position: absolute;
    z-index: 10;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    // overflow-y: auto;
    margin: 0 !important ;
    max-width: 100vw !important;
    &::-webkit-scrollbar {
      display: none;
    }
    .touch-dragger {
      font-size: 30px;
      text-align: center;
      line-height: 20px;
      position: relative;
      height: max-content;
      width: 100%;
      position: sticky;
      height: 15px;
      top: 0;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.3);
        height: 4px;
        width: 45px;
        border-radius: 50px;
        overflow: hidden;
      }
    }
    .drawer-container__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      touch-action: none;
      // overflow: hidden;
      min-height: max-content;
      .header__title {
        padding: 10px;
      }
      .header__close {
        cursor: pointer;
        display: inline-block;
        padding: 10px;
        i {
          font-size: 20px;
          font-weight: 700;
          &::before,
          &::after {
            vertical-align: initial;
          }
        }
        // &:hover {
        //   transform: scale(1.2);
        // }
      }
    }
    .drawer-container__slot-content {
      height: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &.--close {
    visibility: hidden;
  }
  &.--shadow {
    .wrapper__drawer-container {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
  }
  &.--mobile {
    .wrapper__drawer-container {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }
  }
  &.--moving {
    .wrapper__drawer-container {
      transition: none;
    }
  }
  &.--absolute {
    position: absolute;
  }
  &.--no-backdrop {
    pointer-events: none;
  }
  .wrapper__backdrop {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(0, 0, 0);

    /* /backdrop-filter: blur(2px); */

    /*  */
    // opacity: 0.3;
    // backdrop-filter: blur(3px);
  }
}
