:root {
  // Input Field
  --input-field-transition: box-shadow 0.2s, border-radius 0.3s;
  --input-field-fontSize: 1rem;
  --input-field-padding: 0 12px;
  --input-field-border-radius: 5px;
  --input-field-placeholder-color: rgba(0, 0, 0, 0.3);
  --input-field-background-color: #edf2f7;
  --input-field-text-color: #495057;
  --input-field-focus-background: hsl(210, 38%, 90%);
  --input-field-focus-shadow: 0 0 0 0;
  --input-field-hover-shadow: 0 0 0 0;
  // Prepend Append
  --input-prepend-append-padding: 12px;
  --input-prepend-append-margin: -12px;
  // input Help Text
  --input-help-font-size: 12px;
  --input-help-opacity: 0.8;
  --input-help-margin-top: 4px;
  //Input Label
  --input-label-margin-bottom: 8px;
  --input-label-color: ;
}

[data-theme='dark'] {
  --input-field-placeholder-color: rgba(255, 255, 255, 0.3);
  --input-field-background-color: hsl(215, 21%, 20%);
  --input-field-focus-background: hsl(215, 21%, 30%);
  // --input-field-textColor: var(--text-color);
  --input-field-text-color: hsl(210, 9%, 90%);
}
