.#{$light-checkbox--class-name}.--with-icon {
  .state {
    .icon {
      position: absolute;
      font-size: 1em;
      width: $light-checkbox--box-size;
      height: $light-checkbox--box-size;
      left: 0;
      z-index: $light-checkbox--z-index-between;
      text-align: center;
      line-height: normal;
      top: $light-checkbox-top-offset;
      border: 1px solid transparent;
      opacity: 0;
    }

    .icon:before {
      margin: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      line-height: 1;
    }
  }

  input:checked ~ .state {
    .icon {
      opacity: 1;
    }

    label:before {
      border-color: #5a656b;
    }
  }
}
