.lv-input__field {
  width: 100%;
  display: flex;
  align-items: stretch; // to set equal height
  position: relative;
  .lv-input__element {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: inherit;
  }
  .lv-input__default {
    flex-grow: 1;
  }
  .lv-input__icon {
    // padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #495057;
  }
  .lv-input__append {
    padding-left: 12px;
    margin-right: -12px;
    display: flex; // Streching the slot, but keeping center-aligned
    // align-items: center;
    .lv-input__icon {
      padding-right: 12px;
    }
  }
  .lv-input__prepend {
    padding-right: 12px;
    margin-left: -12px;
    display: flex; // Streching the slot, but keeping center-aligned
    // align-items: center;
    .lv-input__icon {
      padding-left: 12px;
    }
  }
}

.lv-input__label {
  margin-bottom: 8px;
  font-weight: 500;
  // text-transform: uppercase;
}

.lv-input__help {
  margin-top: 4px;
  // margin-left: 8px;
  font-size: 12px;
  opacity: 0.8;
}
