.lv-datepicker-header{
    display: block;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
    color: #9badb7;
    transition: all 0.3s ease;
    .prev,.next{
        cursor: pointer;
    }
    .lv_day-month-btn,.lv-month__year_btn{
        text-align: center;
        cursor: pointer;
        &:hover{
            color: #79909c;
        }
    }
}
// .lv-day-row{

// }
.cell {
    display: inline-block;
    padding: 0 5px;
    width: 14.285714285714286%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    &.day,&.year,&.month{
        &.selected{
            color: #FFFFFF;
            background-color: rgba(56,178,172,1);
        }
        &:not(.blank){
            cursor: pointer;
        }
    }
    border: 1px solid transparent;
    border-radius: 8px;
    &.day,&.year,&.month{
        &:not(.blank,.selected){
            &:hover{
                color: #38b2ac;
                background-color: rgba(56,178,172,.1);
            }
        }
    }
    &.year,&.month {
        width: 33.333%;
    }
}
.cell.day-header {
    font-size: 75%;
    white-space: nowrap;
    cursor: initial;
    user-select: none;
}
.lv-date-input-trigger{
    font-size: 14px;
    color: #79909c;
    cursor: pointer;
}
.date-time-tabs{
    width: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .tab{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        cursor: pointer;
        transition: all 0.2s ease;
        &.calendar{
            border-radius: 7px 0px 0px 0px;
        }
        &.time{
            border-radius: 0px 7px 0px 0px;
        }
        &.--active{
            background-color: #79909c;
            color: #FFFFFF;
        }
    }
}
#image_overlay_panel{
    border-radius: 7px;
    // overflow: hidden;
    .lv-date-controls{
        margin-top: 1.8rem;
    }
    .lv-time-controls{
        margin-top: 2rem;
    }
    &.--panel-active{
        &::before{
            border-bottom-color: #79909c;
        }
        &::after{
            border-bottom-color: #79909c;
        }
    }
}