$slider-height: 20px !default;
// $slider-width: 196px !default;
$slider-width: 100% !default;
$rail-height: 4px !default;
$knob-size: 15px !default;
$knob-height: 16px !default;
$knob-width: 32px !default;
$knob-color: #fff !default;

$knob-border: 4px solid #f5f5f5 !default;
$knob-shadow: 1px 1px rgba(0, 0, 0, 0.2) !default;

.lv-range-slider {
  display: inline-block;
  height: $slider-height;
  width: $slider-width;
  min-width: 120px;
}

.lv-range-slider.disabled {
  opacity: 0.5;
}

.lv-range-slider__inner {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}

.lv-range-slider__rail,
.lv-range-slider__fill {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: $rail-height;
  border-radius: $rail-height / 2;
  transform: translateY(-50%);
  transition: all 0.25s;
}

.lv-range-slider__rail {
  width: 100%;
  background-color: var(--rail-color);
}

.lv-range-slider__fill {
  background-color: var(--rail-fill-color);
}

.lv-range-slider__knob {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  box-sizing: border-box;
  height: $knob-height;
  width: $knob-width;
  border: $knob-border;
  border-radius: $knob-height;
  background-color: $knob-color;
  // background-color: var(--rail-fill-color);
  // box-shadow: $knob-shadow;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s;
  cursor: pointer;
  // &:hover {
  //   transform: translate(-50%, -50%) scale(1.3);
  //   // opacity: 0.6;
  // }
}

.lv-range-slider__hidden {
  display: none;
}

.lv-range-slider__knob__val {
  display: inline-block;
  position: relative;
  color: val(--rail-fill-color);
  background-color: #ffffff;
  padding: 2px;
  border: solid 0.3px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  top: -32px;
  left: -8px;
  text-align: center;
  width: 40px;
  min-width: max-content;
  border-radius: 4px;
  transition: all 0.2s;
}
