@import './docsNormalize.scss';
@import './docsTheme.scss';
@import './docsTypography.scss';
@import './lightScroll.scss';

.page-wrap {
  position: absolute;
  right: 0px;
  top: 60px;
  width: calc(100% - 250px);
  .page-content {
    padding: 30px 30px 0px;
  }
}

.feature-intro p {
  opacity: 0.8;
  line-height: 20px;
  margin: 8px 0px;
}
.sidemenu__backdrop {
  z-index: 998;
  background-color: rgba(28, 39, 45, 0.55);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 769px) {
  .page-wrap {
    left: 0px;
    width: 100%;
  }
  .sidemenu__backdrop {
    opacity: 1;
    display: initial;
  }
}
