.#{$light-checkbox--class-name}.p-switch.--filled {
  input:checked ~ .state {
    &:before {
      border-color: $light-checkbox--color-dark;
      background-color: $light-checkbox--color-dark !important;
    }
    .checkbox-label:before {
      opacity: 0;
    }
    .checkbox-label:after {
      background-color: #fff !important;
      left: 1em;
    }
  }
}
