.lv-toast {
  .lv-toast__message {
    margin: 0 0 1rem 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 25px;
    background: #38b2ac;
    .lv-toast__message-content {
      display: flex;
      justify-content: center;
      // align-items: center;
      padding: 1rem;
      border-width: 0 0 0 0;
      // text-align: center;
      color: white !important;
      width: 100%;

      .lv-toast__prepend {
        padding-right: 6px;
      }
      .lv-toast__message-text {
        color: white !important;
      }
    }
    &.--info {
      background: #3298dc;
    }
    &.--success {
      background: #48c774;
    }
    &.--warn {
      background: #f4c430;
    }
    &.--error {
      background: #bb2727;
    }
  }
}
