
:root{
  --background-color: #fff;
  --background-color-alt: #f5f8fa;
  --text-color: #566d79;
  --gray: #566d79;
  --lightGray: #dfe7eb;

  // Api Table
  --api-table-border-color:#e7e7e7;
  --api-table-bg-color: var(--background-color);
  --api-table-header-bg: #607b89 ;
  --api-table-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --api-table-odd-row: #edf2f7;
  --api-table-header-bg: var(--gray);
  --api-table-highlight-text: #1c587a;
  --api-table-text-color:var(--text-color);
  // Code Wrap
  --code-red: hsl(0, 64%, 48%);
  --code-green: hsl(105, 88%, 33%);
  --code-blue: #1990b8;
  --code-row-even: var(--background-color);
  --code-row-odd: hsl(210, 50%, 98%);
  --code-stripes: linear-gradient(transparent 50%, hsl(210, 50%, 98%) 50%);
  //Toggle Switch
  --toggle-thumb-unchecked: #cbd5e0;
  --toggle-track-checked: hsla(0,0%,0%,0.08);
  // Primary
  --primary: #38b2ac;
  --primary-light: #8ed8d6;
  --primary-dark:#319795;
  --primary-inverse: #ffffff;
  // Secondary
  --secondary:#607d8b;
  --secondary-light:#beccd2;
  --secondary-dark:#56717d;
  --secondary-inverse: #ffffff;
  //Success
  --success:#008c7f;
  --success-light:#95e8df;
  --success-dark:#03655b;
  --success-inverse: #ffffff;
  //Info
  --info:#0288d1;
  --info-light:#89d4fe;
  --info-dark:#027abc;
  --info-inverse: #ffffff;
  //Warning
  --warning: #ffb300;
  --warning-light:#ffd36d;
  --warning-dark:#df9c00;
  --warning-inverse: #ffffff;
  //Help
  --help:#795548;
  --help-light:#baafac;
  --help-dark:#795548;
  --help-inverse: #ffffff;
  //Danger
  --danger:#bb2727;
  --danger-light:#e9a5a5;
  --danger-dark:#9b2222;
  --danger-inverse: #ffffff;
  //Plain
  --plain:#3f51b5;
  --plain-light:#acb7f7;
  --plain-dark:#2e3fa2;
  --plain-inverse: #ffffff;
}

[data-theme='dark']{
  --background-color: hsl(215, 21%, 11%) ;
  --background-color-alt: hsl(215, 28%, 7%) ;
  --text-color: rgb(255, 255, 255,0.8);
  --lightGray:#4c5768;
  --gray: #364146;
  // Code Wrap
  --code-red: hsl(0, 86%, 66%);
  --code-green: hsl(105, 64%, 61%);
  --code-blue: hsl(189, 93%, 62%);
  --code-row-even: var(--background-color);
  --code-row-odd: hsla(0,0%,0%,0.2);
  --code-stripes: linear-gradient(transparent 50%, hsla(0, 0%, 0%,0.2) 50%);
    //Toggle Switch
  --toggle-track-checked: hsla(0,0%,100%,0.15);
  // Api Table
  --api-table-border-color:var(--lightGray);
  --api-table-bg-color: var(--background-color);
  --api-table-header-bg: #313e52 ;
  --api-table-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --api-table-odd-row: hsla(0,0%,0%,0.2);
  --api-table-highlight-text: #58b7eb;
  --api-table-text-color:var(--text-color);

}

.lv--primary {
  --theme-color: var(--primary) ;
  --theme-color-light: var(--primary-light);
  --theme-color-dark: var(--primary-dark);
  --theme-color-inverse: var(--primary-inverse);
}
.lv--secondary {
  --theme-color: var(--secondary) ;
  --theme-color-light: var(--secondary-light);
  --theme-color-dark: var(--secondary-dark);
  --theme-color-inverse: var(--secondary-inverse);
}
.lv--success {
  --theme-color: var(--success) ;
  --theme-color-light: var(--success-light);
  --theme-color-dark: var(--success-dark);
  --theme-color-inverse: var(--success-inverse);
}
.lv--info {
  --theme-color: var(--info) ;
  --theme-color-light: var(--info-light);
  --theme-color-dark: var(--info-dark);
  --theme-color-inverse: var(--info-inverse);
}
.lv--warning {
  --theme-color: var(--warning) ;
  --theme-color-light: var(--warning-light);
  --theme-color-dark: var(--warning-dark);
  --theme-color-inverse: var(--warning-inverse);
}
.lv--help {
  --theme-color: var(--help) ;
  --theme-color-light: var(--help-light);
  --theme-color-dark: var(--help-dark);
  --theme-color-inverse: var(--help-inverse);
}
.lv--danger {
  --theme-color: var(--danger) ;
  --theme-color-light: var(--danger-light);
  --theme-color-dark: var(--danger-dark);
  --theme-color-inverse: var(--danger-inverse);
}
.lv--plain {
  --theme-color: var(--plain) ;
  --theme-color-light: var(--plain-light);
  --theme-color-dark: var(--plain-dark);
  --theme-color-inverse: var(--plain-inverse);
}

