:root{
  --background-color: #fff;
  --background-color-alt: #f5f8fa;
  --text-color: #566d79;
  --gray: #566d79;
  --lightGray: #dfe7eb;
  // Primary
  --primary: #38b2ac;
  --primary-light: #8ed8d6;
  --primary-dark:#319795;
  --primary-inverse: #ffffff;
  // Secondary
  --secondary:#607d8b;
  --secondary-light:#beccd2;
  --secondary-dark:#56717d;
  --secondary-inverse: #ffffff;
  //Success
  --success:#008c7f;
  --success-light:#95e8df;
  --success-dark:#03655b;
  --success-inverse: #ffffff;
  //Info
  --info:#0288d1;
  --info-light:#89d4fe;
  --info-dark:#027abc;
  --info-inverse: #ffffff;
  //Warning
  --warning: #ffb300;
  --warning-light:#ffd36d;
  --warning-dark:#df9c00;
  --warning-inverse: #ffffff;
  //Help
  --help:#795548;
  --help-light:#baafac;
  --help-dark:#795548;
  --help-inverse: #ffffff;
  //Danger
  --danger:#bb2727;
  --danger-light:#e9a5a5;
  --danger-dark:#9b2222;
  --danger-inverse: #ffffff;
  //Plain
  --plain:#3f51b5;
  --plain-light:#acb7f7;
  --plain-dark:#2e3fa2;
  --plain-inverse: #ffffff;
}

[data-theme='dark']{
  --background-color: #161b22 ;
  --background-color-alt: #0d1117 ;
  --text-color: rgb(255, 255, 255,0.8);
  --lightGray:#21262d;
  --gray: #566d79;
}
// .lv--darkTheme{
//   --background-color: #121212 ;
//   --background-color-alt: #252525 ;
//   --text-color: #fff;
//   --gray: #566d79;
// }


.lv--primary {
  --theme-color: var(--primary) ;
  --theme-color-light: var(--primary-light);
  --theme-color-dark: var(--primary-dark);
  --theme-color-inverse: var(--primary-inverse);
}
.lv--secondary {
  --theme-color: var(--secondary) ;
  --theme-color-light: var(--secondary-light);
  --theme-color-dark: var(--secondary-dark);
  --theme-color-inverse: var(--secondary-inverse);
}
.lv--success {
  --theme-color: var(--success) ;
  --theme-color-light: var(--success-light);
  --theme-color-dark: var(--success-dark);
  --theme-color-inverse: var(--success-inverse);
}
.lv--info {
  --theme-color: var(--info) ;
  --theme-color-light: var(--info-light);
  --theme-color-dark: var(--info-dark);
  --theme-color-inverse: var(--info-inverse);
}
.lv--warning {
  --theme-color: var(--warning) ;
  --theme-color-light: var(--warning-light);
  --theme-color-dark: var(--warning-dark);
  --theme-color-inverse: var(--warning-inverse);
}
.lv--help {
  --theme-color: var(--help) ;
  --theme-color-light: var(--help-light);
  --theme-color-dark: var(--help-dark);
  --theme-color-inverse: var(--help-inverse);
}
.lv--danger {
  --theme-color: var(--danger) ;
  --theme-color-light: var(--danger-light);
  --theme-color-dark: var(--danger-dark);
  --theme-color-inverse: var(--danger-inverse);
}
.lv--plain {
  --theme-color: var(--plain) ;
  --theme-color-light: var(--plain-light);
  --theme-color-dark: var(--plain-dark);
  --theme-color-inverse: var(--plain-inverse);
}

