:root {
    --success-color: #1ab14f;
    --info-color: #3298dc;
    --warn-color: #f4c430;
    --error-color: #b24444;
    --success-fill-border: #097215;
    --info-fill-border: #15679e;
    --warn-fill-border: #a98519;
    --error-fill-border: #7c2809;
}

.lv-notification {
    .lv-notification__icon-close-icon {
        font-weight: bold;
        font-size: 18px;
        color: white !important;
    }
    .lv-notification__message {
        margin: 0 0 1rem 0;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        border-radius: 3px;
        background: #38b2ac;
        .lv-notification__message-content {
            padding: 1rem;
            border-width: 0 0 0 0;
            .lv-notification__message-text {
                margin: 0 0 0 1rem;
            }
            .lv-notification__message-icon {
                font-size: 2.4rem;
                font-weight: bold;
                color: inherit;
                padding: 0px 6px;
                border-radius: 50%;
            }
            .lv-notification__title {
                font-weight: 600;
            }
            .lv-notification__content {
                margin: 0.5rem 0 0 0;
                opacity: 0.7;
            }
        }
        &.--fill {
            background: var(--notification-color);
            color: white !important;
            .lv-notification__message-icon,
            .lv-notification__icon-close {
                color: rgba(255, 255, 255, 0.7) !important;
                align-self: center;
                justify-self: center;
            }
            .lv-notification__icon-close {
                font-weight: 900;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border-color: transparent;
                background-color: hsla(0, 0%, 4%, 0.2);
                transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                }
                &:focus {
                    outline: 0 none;
                    outline-offset: 0;
                }
            }
            &.--success {
                --notification-color: var(--success-color);
            }
            &.--info {
                --notification-color: var(--info-color);
            }
            &.--warn {
                --notification-color: var(--warn-color);
            }
            &.--error {
                --notification-color: var(--error-color)
            }
        }
        &.--light {
            background: white;
            color: black !important;
            .lv-notification__message-icon,
            .lv-notification__icon-close,
            .lv-notification__icon-close-icon {
                color: var(--notification-color) !important;
                align-self: center;
                justify-self: center;
            }
            .lv-notification__progress {
                width: 0%;
                height: 4px;
                background: var(--notification-color);
                transition: width 0.3s ease;
            }
            &.--success {
                --notification-color: var(--success-color);
            }
            &.--info {
                --notification-color: var(--info-color);
            }
            &.--warn {
                --notification-color: var(--warn-color);
            }
            &.--error {
                --notification-color: var(--error-color)
            }
        }
        &.--fill-left-border {
            background: var(--notification-color);
            color: white !important;
            .lv-notification__message-icon,
            .lv-notification__icon-close {
                color: rgba(255, 255, 255, 0.7) !important;
                align-self: center;
                justify-self: center;
            }
            .lv-notification__icon-close {
                font-weight: 900;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border-color: transparent;
                background-color: hsla(0, 0%, 4%, 0.2);
                transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                }
                &:focus {
                    outline: 0 none;
                    outline-offset: 0;
                    // box-shadow: 0 0 0 0.2rem #a6d5fa;
                }
            }
            &.--success {
                --notification-color: var(--success-color);
                border-left: 6px solid var(--success-fill-border);
            }
            &.--info {
                --notification-color: var(--info-color);
                border-left: 6px solid var(--info-fill-border);
            }
            &.--warn {
                --notification-color: var(--warn-color);
                border-left: 6px solid var(--warn-fill-border);
            }
            &.--error {
                --notification-color: var(--error-color);
                border-left: 6px solid var(--error-fill-border);
            }
        }
        &.--light-left-border {
            background: white;
            color: black !important;
            border-left: 6px solid var(--notification-color);
            .lv-notification__message-icon,
            .lv-notification__icon-close {
                color: var(--notification-color) !important;
                align-self: center;
                justify-self: center;
            }
            .lv-notification__icon-close {
                font-weight: 900;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border-color: transparent;
                background-color: hsla(0, 0%, 4%, 0.2);
                transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                }
                &:focus {
                    outline: 0 none;
                    outline-offset: 0;
                    // box-shadow: 0 0 0 0.2rem #a6d5fa;
                }
            }
            &.--success {
                --notification-color: var(--success-color);
            }
            &.--info {
                --notification-color: var(--info-color);
            }
            &.--warn {
                --notification-color: var(--warn-color);
            }
            &.--error {
                --notification-color: var(--error-color)
            }
        }
        &.--light-icon-left-border {
            background: white;
            color: black !important;
            .lv-notification__message-icon {
                color: var(--notification-color) !important;
                align-self: center;
                justify-self: center;
                border-radius: 0 !important;
                border-left: 4px solid var(--notification-color);
                background: #f5f5f5 !important;
                padding-top: 3px;
                padding-bottom: 3px;
            }
            .lv-notification__icon-close,
            .lv-notification__icon-close-icon {
                color: var(--notification-color) !important;
                align-self: center;
                justify-self: center;
            }
            &.--success {
                --notification-color: var(--success-color);
            }
            &.--info {
                --notification-color: var(--info-color);
            }
            &.--warn {
                --notification-color: var(--warn-color);
            }
            &.--error {
                --notification-color: var(--error-color)
            }
        }
    }
}

@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .lv-notification {
        width: 18rem !important;
        .lv-notification__icon-close-icon {
            font-size: 15px;
        }
        .lv-notification__message {
            margin: 0 0 0.6rem 0;
            .lv-notification__message-content {
                padding: 0.8rem;
                .lv-notification__message-icon {
                    font-size: 2.2rem;
                    padding: 0px 5px;
                }
                .lv-notification__content {
                    margin: 0.5rem 0 0 0;
                }
            }
        }
    }
}