:root {
    --success-color: #1ab14f;
    --info-color: #3298dc;
    --warn-color: #f4c430;
    --error-color: #b24444;
    --success-fill-border: #097215;
    --info-fill-border: #15679e;
    --warn-fill-border: #a98519;
    --error-fill-border: #7c2809;
}

.lv-notification {
    .lv-notification__icon-close-icon {
        font-weight: bold;
        font-size: 18px;
        color: white !important;
    }
    .lv-notification__message {
        margin: 0 0 1rem 0;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        border-radius: 3px;
        background: #38b2ac;
        .lv-notification__message-content {
            padding: 1rem;
            border-width: 0 0 0 0;
            .lv-notification__message-text {
                margin: 0 0 0 1rem;
            }
            .lv-notification__message-icon {
                font-size: 2.4rem;
                font-weight: bold;
                color: inherit;
                padding: 0px 6px;
                border-radius: 50%;
            }
            .lv-notification__title {
                font-weight: 600;
            }
            .lv-notification__content {
                margin: 0.5rem 0 0 0;
                opacity: 0.7;
            }
        }
        &.--fill {
            &.--info {
                background: var(--info-color);
                color: white !important;
                .lv-notification__message-icon,
                .lv-notification__icon-close {
                    color: rgba(255, 255, 255, 0.7) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__icon-close {
                    font-weight: 900;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border-color: transparent;
                    background-color: hsla(0, 0%, 4%, 0.2);
                    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }
                    &:focus {
                        outline: 0 none;
                        outline-offset: 0;
                    }
                }
            }
            &.--success {
                background: var(--success-color);
                color: white !important;
                .lv-notification__message-icon,
                .lv-notification__icon-close {
                    color: rgba(255, 255, 255, 0.7) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__icon-close {
                    font-weight: 900;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border-color: transparent;
                    background-color: hsla(0, 0%, 4%, 0.2);
                    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }
                    &:focus {
                        outline: 0 none;
                        outline-offset: 0;
                    }
                }
            }
            &.--warn {
                background: var(--warn-color);
                color: white !important;
                .lv-notification__message-icon,
                .lv-notification__icon-close {
                    color: rgba(255, 255, 255, 0.7) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__icon-close {
                    font-weight: 900;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border-color: transparent;
                    background-color: hsla(0, 0%, 4%, 0.2);
                    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }
                    &:focus {
                        outline: 0 none;
                        outline-offset: 0;
                    }
                }
            }
            &.--error {
                background: var(--error-color);
                color: white !important;
                .lv-notification__message-icon,
                .lv-notification__icon-close {
                    color: rgba(255, 255, 255, 0.7) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__icon-close {
                    font-weight: 900;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border-color: transparent;
                    background-color: hsla(0, 0%, 4%, 0.2);
                    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }
                    &:focus {
                        outline: 0 none;
                        outline-offset: 0;
                    }
                }
            }
        }
        &.--light {
            &.--success {
                background: white;
                color: black !important;
                .lv-notification__message-icon,
                .lv-notification__icon-close,
                .lv-notification__icon-close-icon {
                    color: var(--success-color) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__progress {
                    width: 0%;
                    height: 4px;
                    background: var(--success-color);
                    transition: width 0.3s ease;
                }
            }
            &.--info {
                background: white;
                color: black !important;
                .lv-notification__message-icon,
                .lv-notification__icon-close,
                .lv-notification__icon-close-icon {
                    color: var(--info-color) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__progress {
                    width: 0%;
                    height: 4px;
                    background: var(--info-color);
                    transition: width 0.3s ease;
                }
            }
            &.--warn {
                background: white;
                color: black !important;
                .lv-notification__message-icon,
                .lv-notification__icon-close,
                .lv-notification__icon-close-icon {
                    color: var(--warn-color) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__progress {
                    width: 0%;
                    height: 4px;
                    background: var(--warn-color);
                    transition: width 0.3s ease;
                }
            }
            &.--error {
                background: white;
                color: black !important;
                .lv-notification__message-icon,
                .lv-notification__icon-close,
                .lv-notification__icon-close-icon {
                    color: var(--error-color) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__progress {
                    width: 0%;
                    height: 4px;
                    background: var(--error-color);
                    transition: width 0.3s ease;
                }
            }
        }
        &.--fill-left-border {
            &.--info {
                background: var(--info-color);
                color: white !important;
                border-left: 10px solid var(--info-fill-border);
                .lv-notification__message-icon,
                .lv-notification__icon-close {
                    color: rgba(255, 255, 255, 0.7) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__icon-close {
                    font-weight: 900;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border-color: transparent;
                    background-color: hsla(0, 0%, 4%, 0.2);
                    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }
                    &:focus {
                        outline: 0 none;
                        outline-offset: 0;
                        // box-shadow: 0 0 0 0.2rem #a6d5fa;
                    }
                }
                @if(--info-dark-left-border) {}
            }
            &.--success {
                background: var(--success-color);
                color: white !important;
                border-left: 10px solid var(--success-fill-border);
                .lv-notification__message-icon,
                .lv-notification__icon-close {
                    color: rgba(255, 255, 255, 0.7) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__icon-close {
                    font-weight: 900;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border-color: transparent;
                    background-color: hsla(0, 0%, 4%, 0.2);
                    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }
                    &:focus {
                        outline: 0 none;
                        outline-offset: 0;
                    }
                }
                @if(--sucess-dark-left-border) {}
            }
            &.--warn {
                background: var(--warn-color);
                color: white !important;
                border-left: 10px solid var(--warn-fill-border);
                .lv-notification__message-icon,
                .lv-notification__icon-close {
                    color: rgba(255, 255, 255, 0.7) !important;
                }
                .lv-notification__icon-close {
                    font-weight: 900;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border-color: transparent;
                    background-color: hsla(0, 0%, 4%, 0.2);
                    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }
                    &:focus {
                        outline: 0 none;
                        outline-offset: 0;
                        // box-shadow: 0 0 0 0.2rem #a6d5fa;
                    }
                }
            }
            &.--error {
                background: var(--error-color);
                color: white !important;
                border-left: 10px solid var(--error-fill-border);
                .lv-notification__message-icon,
                .lv-notification__icon-close {
                    color: rgba(255, 255, 255, 0.7) !important;
                    align-self: center;
                    justify-self: center;
                }
                .lv-notification__icon-close {
                    font-weight: 900;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border-color: transparent;
                    background-color: hsla(0, 0%, 4%, 0.2);
                    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }
                    &:focus {
                        outline: 0 none;
                        outline-offset: 0;
                    }
                }
            }
        }
        &.--light-left-border {
            &.--info {
                background: white;
                color: black !important;
                .lv-notification__message-icon {
                    color: var(--info-color) !important;
                    align-self: center;
                    justify-self: center;
                    border-radius: 0 !important;
                    border-left: 4px solid #3298dc;
                    background: #f5f5f5 !important;
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
                .lv-notification__icon-close,
                .lv-notification__icon-close-icon {
                    color: var(--info-color) !important;
                    align-self: center;
                    justify-self: center;
                }
            }
            &.--success {
                background: white;
                color: black !important;
                .lv-notification__message-icon {
                    color: var(--success-color) !important;
                    align-self: center;
                    justify-self: center;
                    border-radius: 0 !important;
                    border-left: 4px solid #1ab14f;
                    background: #f5f5f5 !important;
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
                .lv-notification__icon-close,
                .lv-notification__icon-close-icon {
                    color: var(--success-color) !important;
                    align-self: center;
                    justify-self: center;
                }
            }
            &.--warn {
                background: white;
                color: black !important;
                .lv-notification__message-icon {
                    color: var(--warn-color) !important;
                    align-self: center;
                    justify-self: center;
                    border-radius: 0 !important;
                    border-left: 4px solid var(--warn-color);
                    background: #f5f5f5 !important;
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
                .lv-notification__icon-close,
                .lv-notification__icon-close-icon {
                    color: var(--warn-color) !important;
                    align-self: center;
                    justify-self: center;
                }
            }
            &.--error {
                background: white;
                color: black !important;
                .lv-notification__message-icon {
                    color: var(--error-color) !important;
                    align-self: center;
                    justify-self: center;
                    border-radius: 0 !important;
                    border-left: 4px solid #b24444;
                    background: #f5f5f5 !important;
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
                .lv-notification__icon-close,
                .lv-notification__icon-close-icon {
                    color: var(--error-color) !important;
                    align-self: center;
                    justify-self: center;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .lv-notification {
        width: 18rem !important;
        .lv-notification__icon-close-icon {
            font-size: 15px;
        }
        .lv-notification__message {
            margin: 0 0 0.6rem 0;
            .lv-notification__message-content {
                padding: 0.8rem;
                .lv-notification__message-icon {
                    font-size: 2.2rem;
                    padding: 0px 5px;
                }
                .lv-notification__content {
                    margin: 0.5rem 0 0 0;
                }
            }
        }
    }
}