$editor-shade: rgba(75, 75, 75, 0.307);
$editor-bg: rgb(255, 255, 255);

.lv-text-editor {
  border: 1px solid $editor-shade;
  border-radius: 4px;
  overflow: auto;
  // resize: both;
  box-sizing: border-box;
  width: 100%;
  &__toolbar {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    border-bottom: 1px solid $editor-shade;
    &__btn {
      &:hover {
        filter: brightness(85%);
      }
      &--active {
        font-weight: bolder;
      }
    }
  }
  &__content {
    padding: 1em;
    min-height: 120px;
    background: $editor-bg;
    overflow-y: scroll;
    &:focus-visible {
      outline: none;
    }
  }
  &__footer {
    display: flex;
    border-top: 1px solid lighten($color: $editor-shade, $amount: 30%);
    justify-content: flex-end;
    padding: 8px;
  }
}
