$editor-shade: rgba(75, 75, 75, 0.307);
$editor-bg: rgb(255, 255, 255);
$main-editor-bg: rgb(255, 255, 255);
.lv-text-editor {
  //   border: 1px solid $editor-shade;
  border: 2px solid #edf2f6;
  border-radius: 4px;
  overflow: auto;
  // resize: both;
  //   box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
  &__toolbar {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    // border-bottom: 1px solid #edf2f6;
    gap: 4px;
    &__btn {
      border: 1px solid #edf2f6;
      &:hover {
        border: 1px solid #cbd5e0;
      }
      &--active {
        font-weight: bolder;
        background-color: #edf2f6 !important;
        border: 1px solid #cbd5e0;
        // background-color: rgba(0, 0, 0, 0.06) !important;
      }
    }
  }
  &__content {
    padding: 0.5em;
    min-height: 120px;
    background: $main-editor-bg;
    overflow-y: scroll;
    max-height: 300px;
    &:focus-visible {
      outline: none;
    }
  }
  &__footer {
    display: flex;
    border-top: 1px solid lighten($color: $editor-shade, $amount: 30%);
    justify-content: flex-end;
    padding: 8px;
  }
}

@media screen and (min-width: 300px) {
  .lv-text-editor {
    &__toolbar {
      display: inline-flex;
      overflow-y: scroll;
      max-width: 256px;
      flex-wrap: nowrap;
    }
  }
}
@media screen and (min-width: 400px) {
  .lv-text-editor {
    &__toolbar {
      display: flex;
      // overflow-y: scroll;
      max-width: 100%;
      // flex-wrap: nowrap;
    }
  }
}
