.slider-wrapper {
  position: relative;
  width: 100%;
  .slider-wrapper__slider {
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    padding: 16px 10px;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
    &.--no-scroll {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: '525px') {
  .slider-wrapper {
    .slider-wrapper__nav-buttons {
      display: none;
    }
  }
}
