.Lv__file {
  position: relative;

  .file--upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    input[type='file'] {
      visibility: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
    }
  }

  &.lv-drag-enter {
    background: rgba(177, 176, 176, 0.486);
    // to prevent dragleave event triggered while user dragging over child items
    .file--upload::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 9999999;
    }
  }
}
