
.--topbadge {
  position: relative;
  padding: 0.25em 0.4em;
  color: white;
  background: #007bff;
}

.lv-badge {
  color: var(--theme-color-inverse);
  background-color: var(--theme-color);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, border-radius 0.3s;
  border-radius: 32px;
  &:hover {
    background-color: var(--theme-color-dark);
    color: #ffffff;
  }
  &.--size-sm {
    font-size: 0.875rem;
    padding: 0.4375rem 0.875rem;
    .lv-button__icon i {
      font-size: 0.875rem;
    }
  }
  &.--size-md {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    .lv-button__icon i {
      font-size: 1rem;
    }
  }
  &.--size-lg {
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
    .lv-button__icon i {
      font-size: 1.25rem;
    }
  }
  &.--size-xl {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    .lv-button__icon i {
      font-size: 1.5rem;
    }
  }
  &.--top-right {
    position: absolute;
    top: -10px;
    right: -10px;
  }
  &.--top-left {
    position: absolute;
    top: -10px;
    left: -10px;
  }
  &.--bottom-left {
    position: absolute;
    bottom: -10px;
    left: -10px;
  }
  &.--bottom-right {
    position: absolute;
    bottom: -10px;
    right: -10px;
  }
}
.--rounded {
  border-radius: 2px;
}
