@charset 'utf-8';
.#{$light-checkbox--class-name} * {
  box-sizing: border-box;
}

//Throw error on invalid input types.
.#{$light-checkbox--class-name} input:not([type='checkbox']):not([type='radio']) {
  display: none;
  @if $light-checkbox--debug {
    + *:after {
      content: $light-checkbox--err-message;
      border: 1px solid #dedede;
      border-left: 3px solid #d9534f;
      padding: 9px;
      font-size: 1em;
      font-weight: 600;
      color: #d9534f;
      position: absolute;
      z-index: 3;
      background: #fbfbfb;
      top: 0;
      left: 0;
    }
  }
}

.#{$light-checkbox--class-name} {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 8px;
  white-space: nowrap;
  line-height: 1;
  input {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: $light-checkbox--z-index-front;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .state {
    label {
      position: initial;
      display: inline-block;
      font-weight: normal;
      margin: 0;
      text-indent: $light-checkbox--label-text-offset;
      min-width: $light-checkbox--box-size;
      &:before,
      &:after {
        content: '';
        width: $light-checkbox--box-size;
        height: $light-checkbox--box-size;
        display: block;
        box-sizing: border-box;
        border-radius: 0;
        border: 1px solid transparent;
        z-index: $light-checkbox--z-index-back;
        position: absolute;
        left: 0;
        top: $light-checkbox-top-offset;
        background-color: transparent;
      }
      &:before {
        border-color: $light-checkbox--color-default;
      }
    }
    &.--is-hover,
    &.--is-indeterminate {
      display: none;
    }
  }
}

.#{$light-checkbox--class-name}.--check-icon {
  @each $name, $color in $light-checkbox--colors {
    input:checked ~ .state.lv-#{$name},
    &.--toggle .state.lv-#{$name} {
      label:after {
        top: 0.48em;
        left: 0.25em;
        border-left: 0px solid transparent !important;
        border-top: 0px solid transparent !important;
        border-right: 0.1em solid transparent;
        border-bottom: 0.1em solid transparent;
        background-color: transparent !important;
        // transform: rotate(45deg);
        transform-origin: 0% 100%;
        width: 0.3em;
        height: 0.5em;
        border-color: $color;
        transform: translate3d(0, -0.5em, 0) rotate(45deg) scale(1);
        animation: checkbox-check 300ms 0ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
      }
    }
    &.--check-icon:not(.--filled) input:checked ~ .state.lv-#{$name}-o label {
      &:after {
        background-color: transparent !important;
      }
    }
    &.--check-icon:not(.--filled).--bigger input:checked ~ .state.lv-#{$name}-o label {
      &:after {
        background-color: transparent !important;
        top: calc((0% - (100% - 1.6em)) - 35%) !important;
      }
    }
    &.--check-icon.--filled.--bigger input:checked ~ .state.lv-#{$name}-o label {
      &:after {
        background-color: transparent !important;
        top: calc((0% - (100% - 1.6em)) - 35%) !important;
      }
    }
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    // border-color: #008080;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    // border-color: #008080;
    // border-color: red;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.3em;
    height: 0.5em;
    // border-color: #008080;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
